<div class="container">

  <div *ngIf="state==ViewState.List">

    <div>
      <button nz-button nzType="primary" (click)="state=ViewState.AddStaff">新增</button>
      <button nz-button="" nztype="default" class="ant-btn ant-btn-default">
        <!---->
        <i class="anticon anticon-search ng-star-inserted" style="display: inline-block;"></i>
        <span>搜索</span>
      </button>

    </div>
    <nz-table #ajaxTable [nzData]="dataSet" [nzShowPagination]="false" [nzLoading]="loading">

      <thead>
        <tr>
          <th>ID</th>
          <th>头像</th>
          <th>姓名</th>
          <th>性别</th>
          <th>民族</th>
          <th>工号</th>
          <th>部门</th>
          <th>职务</th>
          <th>电话号码</th>
          <th>身份证号</th>
          <th>婚否</th>
          <th>邮箱</th>
          <th>现住地址</th>
          <th>到职日期</th>
          <th>操作</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td>{{data.employee_id}}</td>
          <td>
            <img *ngIf="data.images[0]" [src]="data.images[0]">
          </td>
          <td>{{data.name}}</td>
          <td>{{data.sex==1?"男":"女"}}</td>
          <td>{{data.nation}}</td>
          <td>{{data.shop_code}}</td>
          <td>{{data.department}}</td>
          <td>{{data.job}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.id_card}}</td>
          <td>{{data.marital?"已婚":'未婚'}}</td>
          <td>{{data.email}}</td>
          <td>{{data.address}}</td>
          <td>{{data.created_at | date:'yyyy-MM-dd'}}</td>
          <td>
            <a (click)="selectedStaff=data;state=ViewState.UpdateStaff;selectEmployee(data)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <!-- <a (click)="deletestaff()">删除</a> -->

          </td>
        </tr>


      </tbody>
    </nz-table>
    <nz-pagination [nzPageIndex]="page" [nzTotal]="total" nzShowSizeChanger (nzPageIndexChange)="page=$event;getEmployeePage()"
      [nzPageSize]="5" style="text-align:right;margin-top: 40px;"></nz-pagination>

  </div>
  <div *ngIf="state==ViewState.AddStaff" class="animated  flipInX">
    <div>
      <button nz-button nzType="primary" (click)="state=ViewState.List">返回</button>
      <button nz-button="" nztype="default" class="ant-btn ant-btn-default">
        <!---->
        <i class="anticon anticon-search ng-star-inserted" style="display: inline-block;"></i>
        <span>重置</span>
      </button>

    </div>
    <div class="ant-form ant-form-horizontal ng-untouched ng-pristine ng-invalid" style="width:80%;margin:0 auto;">

      <nz-form-item class="ant-row ant-form-item">
        <div class="ant-col-sm-8  ">
          <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">姓名:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.name" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">性别:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <nz-radio-group [(ngModel)]="newEmployee.sex">
              <label nz-radio [nzValue]="1">男</label>
              <label nz-radio [nzValue]="2">女</label>
            </nz-radio-group>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">民族:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.nation" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
      </nz-form-item>

      <nz-form-item class="ant-row ant-form-item">
        <div class="ant-col-sm-8  ">
          <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">生日:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <!-- <div class="ant-form-item-control"> -->
            <!-- <span class="ant-form-item-children"> -->
            <!-- <input nz-input="" class="ng-untouched ng-pristine ng-invalid ant-input"> -->

            <!-- </span> -->
            <!---->
            <!-- </div> -->
            <nz-date-picker [(ngModel)]="newEmployee.birthday" nzShowTime></nz-date-picker>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">籍贯:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.province" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">电话:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.phone" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
      </nz-form-item>
      <nz-form-item class="ant-row ant-form-item">
        <div class="ant-col-sm-8  ">
          <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">学历:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.education_background" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">身高:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <nz-input-number [(ngModel)]="newEmployee.height" [nzMin]="140" [nzMax]="200" [nzStep]="1" [nzFormatter]="formatterPercent"
                  [nzParser]="parserPercent"></nz-input-number>
              </span>
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">特长:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.speciality" class="ng-untouched ng-pristine ng-invalid ant-input">
              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
      </nz-form-item>
      <nz-form-item class="ant-row ant-form-item">
        <div class="ant-col-sm-8  ">
          <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">身份证号:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.id_card" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">邮箱:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.email" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">现居地址:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.address" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
      </nz-form-item>
      <nz-form-item class="ant-row ant-form-item">
        <div class="ant-col-sm-8  ">
          <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">密码:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.password" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">确认密码:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="repassword" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">介绍人:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.referrer" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
      </nz-form-item>
      <nz-form-item class="ant-row ant-form-item">
        <div class="ant-col-sm-8  ">
          <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">紧急联系人:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.emergency_contact" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">紧急联系人电话:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.emergency_contact_phone" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">关系:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.emergency_contact_relationship" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
      </nz-form-item>
      <nz-form-item class="ant-row ant-form-item">
        <div class="ant-col-sm-8  ">
          <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">工号:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
            <div class="ant-form-item-control">
              <span class="ant-form-item-children">
                <input nz-input="" [(ngModel)]="newEmployee.shop_code" class="ng-untouched ng-pristine ng-invalid ant-input">

              </span>
              <!---->
            </div>
          </nz-form-control>


        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">部门:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper" *ngIf="!customDepartment">
            <div style="display:flex;align-items:center;">
              <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="已有部门" [(ngModel)]="newEmployee.department">
                <nz-option nzLabel="领班" nzValue="领班"></nz-option>
                <nz-option nzLabel="经理" nzValue="经理"></nz-option>
                <nz-option nzLabel="技师" nzValue="技师"></nz-option>
              </nz-select>
              <i class="anticon anticon-tool" style="padding:0 5px" (click)="customDepartment=true"></i>
            </div>
          </nz-form-control>
          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper" *ngIf="customDepartment">
            <div style="display:flex;align-items:center;">
              <input nz-input placeholder="自定义职位" [(ngModel)]="newEmployee.department">

              <i class="anticon anticon-rollback" (click)="customDepartment=false"></i>
            </div>
          </nz-form-control>



        </div>
        <div class="ant-col-sm-8  ">
          <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">角色:</label>

          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper" *ngIf="!customJob">
            <div style="display:flex;align-items:center;">
              <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="已有角色" [(ngModel)]="newEmployee.role_id">
                <nz-option [nzLabel]="role.name" [nzValue]="role.id" *ngFor="let role of roles"></nz-option>
              </nz-select>
              <!-- <i class="anticon anticon-tool" style="padding:0 5px" (click)="customJob=true"></i> -->
            </div>
          </nz-form-control>
          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper" *ngIf="customJob">
            <div style="display:flex;align-items:center;">
              <input nz-input placeholder="自定义职位" [(ngModel)]="newEmployee.job">

              <i class="anticon anticon-rollback" (click)="customJob=false"></i>
            </div>
          </nz-form-control>



        </div>
      </nz-form-item>


      <nz-form-item class="ant-row ant-form-item">

        <nz-form-control [nzSm]="14 " [nzXs]="14 ">

          <nz-upload [nzCustomRequest]="upload " [nzAction]="''" nzListType="picture-card" [(nzFileList)]="fileList " [nzShowButton]="fileList.length < 3 "
            [nzPreview]="handlePreview ">
            <i class="anticon anticon-plus "></i>
            <div class="ant-upload-text ">上传</div>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="ant-row ant-form-item">
        <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-col-sm-offset-8  ant-form-item-control-wrapper">
          <button nz-button nzType="primary" class="ant-col-sm-10" (click)="createEmployee()">确认信息</button>
        </nz-form-control>
      </nz-form-item>

    </div>
  </div>
  <div *ngIf="state==ViewState.UpdateStaff">
    <ng-container *ngIf="selectedStaff">
      <button nzType="default" nz-button (click)="state=ViewState.List">返回</button>
      <div class="ant-form ant-form-horizontal ng-untouched ng-pristine ng-invalid" style="width:80%;margin:0 auto;">

        <nz-form-item class="ant-row ant-form-item">
          <div class="ant-col-sm-8  ">
            <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">姓名:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.name" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">性别:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <nz-radio-group [(ngModel)]="selectedStaff.sex">
                <label nz-radio nzValue="1">男</label>
                <label nz-radio nzValue="2">女</label>
              </nz-radio-group>
            </nz-form-control>



          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">民族:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.nation" class="ng-untouched ng-pristine ng-invalid ant-input">
                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
        </nz-form-item>

        <nz-form-item class="ant-row ant-form-item">
          <div class="ant-col-sm-8  ">
            <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">生日:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.birthday" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">籍贯:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.province" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">电话:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.phone" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
        </nz-form-item>
        <nz-form-item class="ant-row ant-form-item">
          <div class="ant-col-sm-8  ">
            <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">学历:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.education_background" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">身高:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.height" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">特长:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.speciality" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
        </nz-form-item>
        <nz-form-item class="ant-row ant-form-item">
          <div class="ant-col-sm-8  ">
            <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">身份证号:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.id_card" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">邮箱:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.email" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">现居地址:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.address" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
        </nz-form-item>
        <nz-form-item class="ant-row ant-form-item">
          <div class="ant-col-sm-8  ">
            <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">密码:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.password" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">确认密码:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="repassword" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">介绍人:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.referrer" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
        </nz-form-item>
        <nz-form-item class="ant-row ant-form-item">
          <div class="ant-col-sm-8  ">
            <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">紧急联系人:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.emergency_contact" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">紧急联系人电话:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.emergency_contact_phone" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">关系:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.emergency_contact_relationship" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
        </nz-form-item>
        <nz-form-item class="ant-row ant-form-item">
          <div class="ant-col-sm-8  ">
            <label class="ant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">工号:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.shop_code"  class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>
          <div class="ant-col-sm-8  ">
            <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">部门:</label>

            <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper">
              <div class="ant-form-item-control">
                <span class="ant-form-item-children">
                  <input nz-input="" [(ngModel)]="selectedStaff.department" class="ng-untouched ng-pristine ng-invalid ant-input">

                </span>
                <!---->
              </div>
            </nz-form-control>


          </div>


          <div class="ant-col-sm-8  ">
              <label class="aant-form-item-required ant-col-xs-24 ant-col-sm-10 ant-form-item-label">角色:</label>

              <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper" *ngIf="!customJob">
                <div style="display:flex;align-items:center;">
                  <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="已有角色" [(ngModel)]="selectedStaff.role_id">
                    <nz-option [nzLabel]="role.name" [nzValue]="role.id" *ngFor="let role of roles"></nz-option>
                  </nz-select>
                  <!-- <i class="anticon anticon-tool" style="padding:0 5px" (click)="customJob=true"></i> -->
                </div>
              </nz-form-control>
              <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-form-item-control-wrapper" *ngIf="customJob">
                <div style="display:flex;align-items:center;">
                  <input nz-input placeholder="自定义职位" [(ngModel)]="selectedStaff.job">

                  <i class="anticon anticon-rollback" (click)="customJob=false"></i>
                </div>
              </nz-form-control>



            </div>





        </nz-form-item>

        <nz-form-item class="ant-row ant-form-item">

          <nz-form-control [nzSm]="14 " [nzXs]="14 ">

            <nz-upload [nzCustomRequest]="upload " [nzAction]="''" nzListType="picture-card" [(nzFileList)]="fileList " [nzShowButton]="fileList.length < 3 "
              [nzPreview]="handlePreview ">
              <i class="anticon anticon-plus "></i>
              <div class="ant-upload-text ">上传</div>
            </nz-upload>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="ant-row ant-form-item">
          <nz-form-control class="ant-col-xs-24 ant-col-sm-14 ant-col-sm-offset-8  ant-form-item-control-wrapper">
            <button nz-button nzType="primary" class="ant-col-sm-10" (click)="updateStaff()" >确认信息</button>
          </nz-form-control>
        </nz-form-item>

      </div>
    </ng-container>
  </div>
</div>






<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
  </ng-template>
</nz-modal>
