<nz-breadcrumb style="margin:12px 0;">
  <nz-breadcrumb-item>
    <a> 系统管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/admin/system/material"> 素材管理</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>


<div style="background:#fff;padding:30px" *ngIf="state==ViewState.ListMaterial ">
  <div class="table-operations">
    <button nz-button ngType="primary" (click)="state=ViewState.ListTickets">查看优惠券</button>
    <!-- <button nz-button >Clear filters</button> -->
    <!-- <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button> -->
  </div>


  <div class="table-operations">
    <!-- <button nz-button ngType="primary" (click)="showPublishModal=true">发布活动</button> -->
    <!-- <button nz-button >Clear filters</button> -->
    <!-- <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button> -->
  </div>
  <nz-table #ajaxTable nzShowSizeChanger [nzDataSource]="dataSet" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)">
    <thead nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="name">素材ID</th>
        <th></th>
        <!-- <th nzShowFilter>活动标题</th> -->
        <th nzShowSort nzSortKey="email">
          <span>素材前台图片</span>
        </th>
        <th nzShowSort nzSortKey="email">
          <span>素材活动图片</span>
        </th>
        <th nzShowSort nzSortKey="email">
          <span>Logo/微信分享图片</span>
        </th>
        <th>活动发起时间</th>
        <th>有效天数</th>
        <!-- <th nzShowSort nzSortKey="email"> -->
        <!-- <span>是否可注册获得</span> -->
        <!-- </th> -->
        <!-- <th nzShowSort nzSortKey="email"> -->
        <!-- <span>是否可分享获得</span> -->
        <!-- </th> -->
        <!-- <th nzShowSort nzSortKey="email"> -->
        <!-- <span>是否可赠与他人</span> -->
        <!-- </th> -->
        <th>店铺座机</th>
        <th>操作</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSet">
        <td>{{data.id}}</td>
        <td>{{data.coupon_name}}</td>
        <td>
          <img [src]="data.home_image_urls[0]" alt="">
        </td>
        <td>
          <img [src]="data.ticket_image_urls[0]" alt="">
        </td>
        <td>
          <img [src]="data.share_image_url" alt="">
        </td>
        <td>{{data.time_start|date:'yyyy-MM-dd'}}</td>
        <td>{{data.valid_days}}</td>
        <!-- <td>{{data.reg_give?'是':'否'}}</td> -->
        <!-- <td>{{data.can_share?'是':'否'}}</td> -->
        <!-- <td>{{data.can_give_other?'是':'否'}}</td> -->
        <td>{{data.shop_phone}}</td>
        <td>
          <button nz-button nzType="primary" (click)="selectMaterial(data); state=ViewState.CreateMaterial;">修改活动资料</button>
          <button nz-button nzType="primary" (click)="downloadMaterialQrcode(data.id)">保存活动二维码</button>
        </td>
      </tr>
    </tbody>
  </nz-table>

</div>




<div style="background:#fff;padding:30px" *ngIf="state==ViewState.ListTickets">
  <div class="table-operations">
    <button nz-button ngType="primary" (click)="state=ViewState.ListMaterial">查看优惠券素材</button>
    <!-- <button nz-button >Clear filters</button> -->
    <!-- <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button> -->
  </div>


  <div class="table-operations">
    <!-- <button nz-button ngType="primary" (click)="showPublishModal=true">发布活动</button> -->
    <!-- <button nz-button >Clear filters</button> -->
    <!-- <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button> -->
  </div>
  <nz-table #ajaxTable2 nzShowSizeChanger [nzData]="usersClaimGroup" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchTickets()" (nzPageSizeChange)="searchTickets(true)">
    <thead nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="name">id</th>
        <!-- <th nzShowFilter>活动标题</th> -->
        <th nzShowSort nzSortKey="email">
          <span>用户名</span>
        </th>
        <th nzShowSort nzSortKey="email">
          <span>优惠券数量</span>
        </th>

        <th nzShowSort nzSortKey="email">
          <span>注册获得</span>
        </th>
        <th nzShowSort nzSortKey="email">
          <span>分享获得</span>
        </th>
        <th nzShowSort nzSortKey="email">
          <span>赠与他人</span>
        </th>
        <th>活动发起时间</th>
        <!-- <th>店铺座机</th> -->
        <th>操作</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of usersClaimGroup">
        <td>{{data.user_id}}</td>


        <td>{{data.user_name}}</td>
        <td>{{data.children?.length}}
          <span *ngIf="!data.children">0</span>
        </td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <!-- <td>{{data.shop_phone}}</td> -->
        <td>
          <button nz-button nzType="primary">详情</button>

        </td>
      </tr>
    </tbody>
  </nz-table>

</div>



<div class="container bg-gray" *ngIf="ViewState.CreateMaterial==state">
  <div class="container bg-white">

    <div class=" materials" style="text-align: center;">

      <!-- <nz-modal style="position: relative;" [nzWidth]="800" [(nzVisible)]="ViewState.CreateMaterial==state" nzTitle="编辑活动素材" (nzOnCancel)="state=ViewState.ListMaterial" -->
      <!-- (nzOnOk)="state=ViewState.ListMaterial;createMaterial()"> -->

      <div style="width:300px;flex-shrink: 0;height: 100%;padding:20px;">
        <div>
          <button nz-button style="position:relative" (click)="libChange(1)" [nzType]="libMode==1?'primary':'default'">素材库</button>
          <button nz-button (click)="libChange(2)" [nzType]="libMode==2?'primary':'default'">我的</button>
        </div>
        <!-- <div> -->
        <!-- <label for="">活动主题</label> -->
        <!-- <nz-select style="width: 120px;" [(ngModel)]="selectedTheme" nzAllowClear nzPlaceHolder="选择活动主题">
            <nz-option [nzValue]="1" nzLabel="海报"></nz-option>
            <nz-option [nzValue]="2" nzLabel="店铺展示"></nz-option>

          </nz-select> -->

        <!-- </div> -->
        <!-- <div style="padding: 26px 16px 16px;"> -->
        <!-- <button nz-button nzType="primary" (click)="selectImageGroup()">全部</button> -->
        <!-- <button nz-button nzType="primary" nzGhost (click)="selectImageGroup(group.groupName)" *ngFor="let group of imageGroups">{{group.groupName}}</button> -->

        <!-- </div> -->
        <div class="materials" style="text-align: center;    max-height: 500px;">
          <div *ngFor="let image of images" style="margin-bottom: 20px;position:relative;" class="material-item">
            <div class="cover">
              <button nz-button nzType="primary" (click)="addImage(image.url)">+</button>
            </div>
            <img [src]="image.url" alt="">

          </div>

          <div style="margin-bottom: 20px;position:relative;" class="material-item" *ngIf="libMode==2" (click)="uploadShopImage()">
            <img src="/assets/images/upload.png" alt="">
          </div>
        </div>
      </div>
      <div style="height:100%;">
        <nz-tabset style="flex-shrink: 0;width:400px;" (nzSelectedIndexChange)="changeMode($event)">
          <nz-tab nzTitle="海报">
            <!-- <img src="/assets/images/upload-image.png" style="width:104px;height:104px" *ngIf="!selectedMaterial.home_image_url"> -->
            <div class="materials" style="text-align: center;">
              <div style="position:relative" class="material-item" *ngFor="let home_image_url of selectedMaterial.home_image_urls">
                <img [src]="home_image_url" alt="" *ngIf="home_image_url" style="max-width: 100px;">
                <div class="cover">
                  <button nz-button nzType="primary" (click)="removeHomeImageUrl(home_image_url)">移除</button>
                </div>
              </div>
            </div>
            <div (click)="modifyHomeImageUrl()" style="
                        display: flex;
                        flex-direction: column;
                    "></div>
            <!-- <label for="">活动海报</label> -->
            <!-- <button nz-button (click)="showLinkModal=true">添加图片</button> -->
            <!-- <button nz-button (click)="modifyHomeImageUrl()">上传本地图片</button> -->
          </nz-tab>
          <nz-tab nzTitle="详情">
            <div style="
                        display: flex;
                        flex-direction: column;
                    ">
              <label for="">优惠券海报</label>
              <div class="materials">
                <div style="position:relative" class="material-item" *ngFor="let ticket_image_url of selectedMaterial.ticket_image_urls">
                  <img [src]="ticket_image_url" alt="" style="max-width: 100px;">
                  <div class="cover">
                    <button nz-button nzType="primary" (click)="removeHomeImageUrl(ticket_image_url)">移除</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button nz-button (click)="showLinkModal2=true">添加图片地址</button> -->
            <!-- <button nz-button (click)="modifyTicketImageUrl()">上传本地图片</button> -->
          </nz-tab>
          <nz-tab nzTitle="Logo">
            <div style="">
              <!-- <label for=""> </label> -->
              <img src="/assets/images/upload-image.png" style="width:104px;height:104px" *ngIf="!selectedMaterial.share_image_url" style="max-width: 40px;">
              <img [src]="selectedMaterial.share_image_url" alt="" *ngIf="selectedMaterial.share_image_url" style="max-width: 40px;">
              <div>
                <button nz-button (click)="showLinkModal3=true">地址修改</button>
                <button nz-button (click)=" modifyShareImageUrl()">上传本地图片</button>
              </div>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
      <div *ngIf="selectedMaterial" style="margin-left: 40px;">
        <span [ngSwitch]="selectedTheme">
          <p *ngSwitchCase="1">
            <app-theme1 [mode]="mode" [material]="selectedMaterial"></app-theme1>
          </p>
          <p *ngSwitchCase="2">
            <app-theme2 [mode]="1" [material]="selectedMaterial"></app-theme2>
          </p>
          <p *ngSwitchDefault>

          </p>
        </span>
        <!-- <button nz-button nzType="primary" (click)="mode=1">海报页面</button> -->
        <!-- <button nz-button nzType="primary" (click)="mode=2">活动详情页面</button> -->



      </div>

    </div>
    <div style="    text-align: center;">
      <button (click)="createMaterial();" nz-button nzType="primary">更新素材</button>
      <button nzType="default" nz-button (click)="state=ViewState.ListMaterial">返回</button>
    </div>
  </div>
</div>
<!-- </nz-modal> -->
<!-- 链接上传 -->


<nz-modal [(nzVisible)]="showLinkModal" nzTitle="外链接" (nzOnCancel)="showLinkModal=false" (nzOnOk)="selectedMaterial.home_image_urls.push(urlInput.value);showLinkModal=false">
  <input nz-input placeholder="外链接" #urlInput>
</nz-modal>
<nz-modal [(nzVisible)]="showLinkModal2" nzTitle="外链接" (nzOnCancel)="showLinkModal2=false" (nzOnOk)="selectedMaterial.ticket_image_urls.push(urlInput2.value);showLinkModal2=false">
  <input nz-input placeholder="外链接" #urlInput2>
</nz-modal>
<nz-modal [(nzVisible)]="showLinkModal3" nzTitle="外链接" (nzOnCancel)="showLinkModal3=false" (nzOnOk)="selectedMaterial.share_image_url=urlInput3.value;showLinkModal3=false">
  <input nz-input placeholder="外链接" #urlInput3>
</nz-modal>
