<div class="phone" style="position:relative;background:url(/assets/images/iphone.png);    position: relative;
background: url(/assets/images/iphone.png);
height: 570px;
width: 280px;
background-repeat: no-repeat;
background-position: 0 0;" *ngIf="mode==1">
  <div style="position:relative">
    <img src="http://www.framework7.cn/i/status-bar.png" alt="" class="status-bar">

    <div style="    height: 417px;
    overflow-y: scroll;
    margin-top: 81px;
    width: 100%;
    text-align: center;
    padding: 5px;">
      <img [src]="home_image_url" alt="" *ngFor="let home_image_url of material.home_image_urls" style="width: 100%;">
    </div>
  </div>
</div>
<div class="phone" style="position:relative" *ngIf="mode==2">
  <div style="position:relative">
    <img src="http://www.framework7.cn/i/status-bar.png" alt="" class="status-bar">
    <div style="height: 417px;overflow-y: scroll;">
      <img [src]="ticket_image_url" alt="" *ngFor="let ticket_image_url of material.ticket_image_urls" style="width: 100%;">
    </div>



    <img [src]="material.share_image_url" alt="" class="logo">


  </div>
</div>
