<div *ngIf="state==ViewState.List">


  <button nz-button nzType="primary" (click)="state=ViewState.CreatProduct">新增主项目</button>
  <button nz-button nzType="primary">打印</button>
  <nz-table #nzTable [nzPageSize]="10" [nzScroll]="{ x:'1300px',y: '240px' }">
    <thead class="ant-table-thead ng-star-inserted">


      <tr style="height: 46px;" class="ant-table-row ng-star-inserted">
        <th nzleft="0px" nzshowfilter="" rowspan="4" class="ant-table-th-left-sticky" style="left: 0px;">项目编号</th>
        <th nzleft="0px" nzshowfilter="" rowspan="4" class="ant-table-th-left-sticky" style="left: 0px;">项目名称</th>
        <th nzleft="0px" nzshowfilter="" rowspan="4" class="ant-table-th-left-sticky" style="left: 0px;">所属序列</th>
        <th nzleft="0px" nzshowfilter="" rowspan="4" class="ant-table-th-left-sticky" style="left: 0px;">项目时间</th>
        <th nzleft="0px" nzshowfilter="" rowspan="4" class="ant-table-th-left-sticky" style="left: 0px;">项目价格</th>
        <th colspan="2">排钟提成 </th>
        <th colspan="2">点钟提成 </th>
        <th colspan="2">加钟提成 </th>
        <th colspan="2">加班提成 </th>
        <th colspan="2">销售提成 </th>
        <th colspan="2">会员价</th>
        <th colspan="2">增值卡 </th>
        <th nzleft="0px" nzshowfilter="" rowspan="4" class="ant-table-th-left-sticky" style="left: 0px;">定额</th>
        <th nzleft="0px" nzshowfilter="" rowspan="4" class="ant-table-th-left-sticky" style="left: 0px;">操作</th>
        <th nzleft="0px" nzshowfilter="" rowspan="4" class="ant-table-th-left-sticky" style="left: 0px;">状态</th>
      </tr>
      <tr style="height: 46px;" class="ant-table-row ng-star-inserted">
        <th nzshowsort="" rowspan="3"> 供应时段</th>
        <th rowspan="3">比例</th>

        <th nzshowsort="" rowspan="3"> 定额</th>
        <th rowspan="3">比例</th>

        <th nzshowsort="" rowspan="3"> 定额</th>
        <th rowspan="3">比例</th>

        <th nzshowsort="" rowspan="3"> 定额</th>
        <th rowspan="3">比例</th>

        <th nzshowsort="" rowspan="3"> 定额</th>
        <th rowspan="3">比例</th>

        <th nzshowsort="" rowspan="3"> 定额</th>
        <th rowspan="3">比例</th>


        <th nzshowsort="" rowspan="3"> 定额</th>
        <th rowspan="3">比例</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <th>大唐</th>
        <th>标准</th>
        <th>20</th>
        <th>300</th>
        <th>全天</th>
        <th>0%</th>
        <th>120元</th>
        <th>0%</th>
        <th>150元</th>
        <th>0%</th>
        <th>120元</th>
        <th>0%</th>
        <th>10</th>
        <th>0%</th>
        <th>10</th>
        <th>0%</th>
        <th>0</th>
        <th>0%</th>
        <th>0</th>
        <th>
          <a href="">删除</a>
        </th>
        <th>上架</th>
      </tr>
    </tbody>
  </nz-table>
</div>
<div *ngIf="state==ViewState.CreatProduct||state==ViewState.SortList||state==ViewState.CreatSort||state==ViewState.UpdateSort">
  <button (click)="state=ViewState.List">
    取消
  </button>
  <div nz-row>
    <p nz-col nzSpan="12" style="font-size: 30px;text-align: center;">大唐足道</p>
    <div nz-col nzSpan="12">
      <p nz-col nzSpan="12">合计时间：0分钟</p>
      <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select 上架" [(ngModel)]="selectedOS" nz-col nzSpan="6">
        <nz-option nzCustomContent nzLabel="上架" nzValue="上架"> 上架</nz-option>
        <nz-option nzCustomContent nzLabel="下架" nzValue="下架"> 下架</nz-option>
        <nz-option nzCustomContent nzLabel="推广" nzValue="推广"> 推广</nz-option>
      </nz-select>
      <button nz-button nzType="primary" nz-col nzSpan="6">确认</button>
    </div>
  </div>
  <nz-tabset>
    <nz-tab nzTitle="项目规划">
      <div style="padding:30px;">


        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="基本信息">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">项目编号</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input>

                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">项目名称</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input>

                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">所属轨道</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select nz-col nzSpan="6" nzShowSearch nzAllowClear nzPlaceHolder="标准" [(ngModel)]="selectedOS" nz-col nzSpan="6">
                    <nz-option nzCustomContent nzLabel="标准" nzValue="标准"> 标准</nz-option>

                  </nz-select>
                  <button nz-col nzSpan="6" nz-button nzType="danger" (click)="state=ViewState.SortList; showModal()">编辑轨道</button>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">项目价格</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input style="width: 100px">
                  <p style="float: right;">元</p>

                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">是否限时</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group nz-col nzSpan="12">
                    <label nz-radio nzValue="否">否</label>
                    <label nz-radio nzValue="是">是</label>

                  </nz-radio-group>



                  <nz-time-picker [(ngModel)]="time" nzFormat="HH:mm" nz-col nzSpan="6"></nz-time-picker>
                  <nz-time-picker [(ngModel)]="time2" nzFormat="HH:mm" nz-col nzSpan="6"></nz-time-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">允许排钟方式</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <div nz-col nzSpan="5">
                    <label nz-checkbox nzValue="E">排钟</label>
                  </div>
                  <div nz-col nzSpan="5">
                    <label nz-checkbox nzValue="E">点钟</label>
                  </div>
                  <div nz-col nzSpan="5">
                    <label nz-checkbox nzValue="E">加钟</label>
                  </div>
                  <div nz-col nzSpan="8">
                    <label nz-checkbox nzValue="E">不计排钟</label>
                  </div>
                </nz-form-control>
              </nz-form-item>

            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="提成">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired style="width: 22%;">排钟提成</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" style="width: 77%;">
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">比例</label>
                    <div nz-col nzSpan="6">
                      <input nz-input style="width: 60%;">%
                    </div>

                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联原价</label>
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联实收</label>
                  </div>
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">定额

                    </label>



                    <div nz-col nzSpan="6">
                      <input nz-input style="    width: 60%;">元
                    </div>

                  </div>

                </nz-form-control>
              </nz-form-item>



              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired style="width: 22%;">点钟提成</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" style="width: 77%;">
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">比例</label>
                    <div nz-col nzSpan="6">
                      <input nz-input style="width: 60%;">%
                    </div>

                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联原价</label>
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联实收</label>
                  </div>
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">定额

                    </label>



                    <div nz-col nzSpan="6">
                      <input nz-input style="    width: 60%;">元
                    </div>

                  </div>

                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired style="width: 22%;">加钟提成</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" style="width: 77%;">
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">比例</label>
                    <div nz-col nzSpan="6">
                      <input nz-input style="width: 60%;">%
                    </div>

                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联原价</label>
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联实收</label>
                  </div>
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">定额

                    </label>



                    <div nz-col nzSpan="6">
                      <input nz-input style="    width: 60%;">元
                    </div>

                  </div>

                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired style="width: 22%;">加班提成</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" style="width: 77%;">
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">比例</label>
                    <div nz-col nzSpan="6">
                      <input nz-input style="width: 60%;">%
                    </div>

                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联原价</label>
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联实收</label>
                  </div>
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">定额

                    </label>



                    <div nz-col nzSpan="6">
                      <input nz-input style="    width: 60%;">元
                    </div>

                  </div>

                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired style="width: 22%;">销售提成</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" style="width: 77%;">
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">比例</label>
                    <div nz-col nzSpan="6">
                      <input nz-input style="width: 60%;">%
                    </div>

                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联原价</label>
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6">关联实收</label>
                  </div>
                  <div nz-col nzSpan="24">
                    <label nz-checkbox nzValue="E" nz-col nzSpan="6" style="    width: 19%;">定额

                    </label>



                    <div nz-col nzSpan="6">
                      <input nz-input style="    width: 60%;">元
                    </div>

                  </div>

                </nz-form-control>
              </nz-form-item>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="折扣">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">是否适用折扣卡</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group nz-col nzSpan="12">
                    <label nz-radio nzValue="否">否</label>
                    <label nz-radio nzValue="是">是</label>

                  </nz-radio-group>

                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">是否适用储值卡</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group nz-col nzSpan="12">
                    <label nz-radio nzValue="否">否</label>
                    <label nz-radio nzValue="是">是</label>

                  </nz-radio-group>

                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">是否适用优惠券</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group nz-col nzSpan="12">
                    <label nz-radio nzValue="否">否</label>
                    <label nz-radio nzValue="是">是</label>

                  </nz-radio-group>

                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">会员卡价</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <label nz-checkbox nzValue="E" nz-col nzSpan="5">比例</label>

                  <label nz-checkbox nzValue="E" nz-col nzSpan="5">定额 </label>
                  <div nz-col nzSpan="12">
                    <input nz-input style="width: 60%;">元
                  </div>


                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">储值卡价</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">

                  <label nz-checkbox nzValue="E" nz-col nzSpan="5">比例</label>

                  <label nz-checkbox nzValue="E" nz-col nzSpan="5">定额 </label>
                  <div nz-col nzSpan="12">
                    <input nz-input style="width: 60%;">元
                  </div>




                </nz-form-control>
              </nz-form-item>
            </nz-card>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="项目流程">
      <div style="padding: 20px;">
        部位：
        <button nz-button nzType="primary">足部</button>
        <button nz-button nzType="primary">头部</button>
        <button nz-button nzType="primary">颈肩</button>
        <button nz-button nzType="primary">胸部</button>
        <button nz-button nzType="primary">腹部</button>
        <button nz-button nzType="primary">背部</button>
        <button nz-button nzType="primary">腰部</button>
        <button nz-button nzType="primary">+</button>
      </div>
      <div style="padding: 20px;">
        手法：
        <button nz-button nzType="primary">刮痧</button>
        <button nz-button nzType="primary">按摩</button>
        <button nz-button nzType="primary">走罐</button>
        <button nz-button nzType="primary">+</button>
      </div>
      <div style="padding: 20px;">



        时间：
        <input nz-input style="width: 2%;display: inline-block;margin-right: 10px;">分钟&nbsp;&nbsp;&nbsp; 属性：
        <label nz-checkbox nzValue="E">累加 </label>

        <label nz-checkbox nzValue="E">与项目</label>

        <nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
        </nz-select>
        同步完成
      </div>
    </nz-tab>
    <nz-tab nzTitle="项目描述">
      <div class="clearfix">
        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 10"
          [nzPreview]="handlePreview">
          <i class="anticon anticon-plus"></i>
          <div class="ant-upload-text">Upload</div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />

          <textarea name="" id="" cols="30" rows="10" placeholder="文件描述"></textarea>
          <button nz-button nzType="primary"> 确认</button>
          </ng-template>
        </nz-modal>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="排钟序列管理" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <div *ngIf="state==ViewState.SortList">


    <nz-table #basicTable>
      <thead>
        <tr>
          <th>序号</th>
          <th>轨道名称</th>
          <th>操作</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td>标准</td>
          <td>
            <a href="">删除</a>
            <span (click)="state=ViewState.UpdateSort">
              修改
            </span>

          </td>

        </tr>
        <tr>
          <td>0</td>
          <td>标准</td>
          <td>
            <a href="">删除</a>
            <span (click)="state=ViewState.UpdateSort">
              修改
            </span>
          </td>

        </tr>
      </tbody>
    </nz-table>
    <button nz-button nzType="primary" (click)="state=ViewState.CreatSort">新增</button>
  </div>
  <div *ngIf="state==ViewState.CreatSort">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>轨道名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input>

      </nz-form-control>
    </nz-form-item>
    <button nz-button type="primary">确认新增轨道</button>
  </div>
  <div *ngIf="state==ViewState.UpdateSort">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>轨道名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input>

      </nz-form-control>
    </nz-form-item>
    <button nz-button type="primary">确认修改轨道</button>
  </div>
</nz-modal>
