.handcard {
  height: 50px;
  width: 50px;
  background: #a573af;
  position: relative;
  margin-right: 20px;
}

.handcard .num {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}

.handcard .sex {
  position: absolute;
  right: 2px;
  top: 2px;
}

.handcard.active {
  border: 2px solid greenyellow;
}

.forms nz-form-item {
  display: inline-block;
  min-width: 300px;
}

.forms {
  /* position: fixed; */
  bottom: 200px;
}
