<div class="container">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>
      <a> 文章管理</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin/article/article-type"> 文章类型管理</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>


<div class="container bg-gray" *ngIf="state==ViewState.List">
  <div style="background:#fff;padding:15px;padding-top:50px;">
    <button nz-button nzType='primary' style="margin-right:50px;" (click)="state=ViewState.Create">+添加类型</button>
    <button nz-button nzType='danger' (click)="deleteArticleCategorys()">删除选中</button>
    <nz-alert style="margin:40px auto" nzType="info" [nzMessage]="'已选择 4 项   涉及人员 20人 清空 '" nzShowIcon></nz-alert>
    <nz-table #ajaxTable [nzData]="dataSet" [nzShowPagination]="false" [nzLoading]="loading">
      <thead nzSingleSort>
        <tr>
          <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>

          <th nzShowSort nzShowFilter>ID</th>
          <th nzShowFilter>名称
          </th>
          <th nzShowSort nzSortKey="email">
            <span>文章数量</span>
          </th>
          <th>
            示意图
          </th>
          <th>排序</th>
          <th>
            创建时间
          </th>
          <th>上次更新时间
          </th>

          <th>操作</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td nzShowCheckbox [(nzChecked)]="data.checked"></td>
          <td>{{data.id}}</td>
          <td>{{data.name }}</td>
          <td>{{data.num }}</td>

          <td>
            <img [src]="data.images[0]" class="avatar" alt="">
          </td>
          <td>{{data.sort }}</td>
          <td>{{data.created_at|date:'yyyy-mm-dd'}}</td>

          <td>{{data.update_at | date:'yyyy-mm-dd'}}</td>
          <td>
            <button nz-button nzType='danger' (click)="deleteArticleCategory(data.id)">删除</button>
            <button nz-button nzType='primary' (click)="selectArticleType(data);state=ViewState.Update; ">修改</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="10" style="text-align:right;margin-top: 40px;"></nz-pagination>
  </div>
</div>

<!-- 审核文章 -->
<nz-modal [(nzVisible)]="ViewState.Create==state" [nzWidth]="800" nzTitle="添加文章类型" (nzOnCancel)="state=ViewState.List" (nzOnOk)="createArticleCategory()">
  <div nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>类型名称

      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input [(ngModel)]="newArticleType.name">

      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>示例图组

      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">

        <nz-upload [nzCustomRequest]="upload" [nzData]="nzData" [nzAction]="myHttp.ip+common.commonApi.uploadFile" nzListType="picture-card"
          [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 3" [nzPreview]="handlePreview">
          <i class="anticon anticon-plus"></i>
          <div class="ant-upload-text">上传</div>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>

    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
      </ng-template>
    </nz-modal>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>排序

      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input [(ngModel)]="newArticleType.sort">

      </nz-form-control>
    </nz-form-item>


  </div>
</nz-modal>


<!-- 审核栏目 -->
<nz-modal [(nzVisible)]="ViewState.Update==state" [nzWidth]="800" nzTitle="修改栏目" (nzOnCancel)="state=ViewState.List" (nzOnOk)="state=ViewState.List;updateArticleUpdate()">
  <ng-container *ngIf="selectedArticle">
    <div nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>人员昵称

        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input [(ngModel)]="selectedArticle.title">

        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>示例图组

        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">

          <nz-upload [nzCustomRequest]="upload" [nzData]="nzData" [nzAction]="myHttp.ip+common.commonApi.uploadFile" nzListType="picture-card"
            [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 3" [nzPreview]="handlePreview">
            <i class="anticon anticon-plus"></i>
            <div class="ant-upload-text">上传</div>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>排序

        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="number" [(ngModel)]="selectedArticleType.sort">
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-container>
</nz-modal>
