.main {
  display: flex;
}

.msg-container {
  width: 200px;
  flex-shrink: 0;
}

.signup-container {
  width: 100%;
}

.desc {
  margin: 30px;
}

.ant-cascader-picker {
  width: 300px;
}

.change-options {
  display: inline-block;
  font-size: 12px;
  margin-top: 8px;
}

