<div class="container">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>
      <a> 系统管理</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin/system/room-manage"> 房间管理</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div class="container ">
  <div class="bg-white">
    <div style="text-align: right;padding-right:40px;">

      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search()">
          <i class="anticon anticon-search"></i>
        </button>
      </ng-template>
      <div>
        <nz-input-group nzSearch [nzSuffix]="suffixIconButton" style="display: inline-block;max-width: 200px;">
          <input type="text" nz-input placeholder="房间名" (keyup)="search()" #keywordInput [(ngModel)]="keyword">
        </nz-input-group>
        <nz-select style="width: 120px;" [(ngModel)]="filterFoolr" nzAllowClear nzPlaceHolder="楼层" (nzOpenChange)="search()">
          <nz-option [nzValue]="false" nzLabel="楼层"></nz-option>
          <nz-option [nzValue]="floorOption.value" [nzLabel]="floorOption.label" *ngFor="let floorOption of floorFilterOptions"></nz-option>

        </nz-select>
        <nz-select style="width: 120px;" [(ngModel)]="filterBedNum" nzAllowClear nzPlaceHolder="床位数" [ngModelChange]="search" (nzOpenChange)="search()">
          <nz-option [nzValue]="false" nzLabel="床位数"></nz-option>
          <nz-option [nzValue]="bed_numOption.value" [nzLabel]="bed_numOption.label" *ngFor="let bed_numOption of  bed_numFilterOptions"></nz-option>

        </nz-select>
        <nz-select style="width: 120px;" [(ngModel)]="filterType" nzAllowClear nzPlaceHolder="类型" (nzOpenChange)="search()">
          <nz-option [nzValue]="false" nzLabel="类型"></nz-option>
          <nz-option [nzValue]="typeOption.value" [nzLabel]="typeOption.label" *ngFor="let typeOption of typeFilterOptions"></nz-option>

        </nz-select>
        <nz-select style="width: 120px;" [(ngModel)]="filterStatus" nzAllowClear nzPlaceHolder="状态" (nzOpenChange)="search()">
          <nz-option [nzValue]="false" nzLabel="状态"></nz-option>
          <nz-option [nzValue]="statusOption.value" [nzLabel]="statusOption.label" *ngFor="let statusOption of statusFilterOptions"></nz-option>

        </nz-select>
        <!-- <nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="区域">
          <nz-option nzValue="jack" nzLabel="楼层"></nz-option>
          <nz-option nzValue="lucy" nzLabel="一层"></nz-option>
          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
        </nz-select> -->



      </div>

      <!-- <div class="rooms">
        <div class="room">
          <div class="room-content">
            <div>
              <i class="anticon anticon-home"></i>
            </div>
            <h3>101</h3>
            <div>20人</div>
          </div>
        </div>
      </div> -->


    </div>
    <nz-card nzTitle="房间管理" style="margin-bottom: 40px;">
      <div nz-card-grid [ngStyle]="gridStyle" class="room-div" [class.roomStop]="room.status=='00'" *ngFor="let room of rooms"
        (click)="selectRoom(room)">
        <div class="" style="height:100px; color:#fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;">
          <h2 style="color:#fff;">{{room.room_name}}</h2>
          <div>{{room.bed_num}}人</div>
        </div>
      </div>
      <div nz-card-grid [ngStyle]="gridStyle" style="width:100px;height:100px;display: flex;align-items: center;justify-content: center;"
        (click)="state=ViewState.Create">
        <i class="anticon anticon-plus" style="font-size: 2rem"></i>
      </div>
    </nz-card>
    <div *ngIf="ViewState.Create==state">
      <div class="forms">
        <nz-form-item class="inline-block">
          <nz-form-label [nzSpan]="6" nzFor="email">名称/房号</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input [(ngModel)]="newRoom.room_name">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="email">房间类型</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select style="width: 120px;" [(ngModel)]="newRoom.room_type" nzAllowClear nzPlaceHolder="房间类型">
              <nz-option [nzValue]="roomOption.room_type" [nzLabel]="roomOption.room_type_label" *ngFor="let roomOption of roomTypeOptions"></nz-option>

            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="email">房间状态</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select style="width: 120px;" [(ngModel)]="newRoom.status" nzAllowClear nzPlaceHolder="房间状态">
              <nz-option [nzValue]="statusOption.status" [nzLabel]="statusOption.status_label" *ngFor="let statusOption of roomStatusOptions"></nz-option>


            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="email">床位数量</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="number" [(ngModel)]="newRoom.bed_num">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="email">包厢费用</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="number" [(ngModel)]="newRoom.box_fee">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="email">所在楼层</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="number" [(ngModel)]="newRoom.floor_num">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="email">冲抵消费</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-switch [(ngModel)]="newRoom.offset_flg"></nz-switch>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="email">计时收费</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-switch [(ngModel)]="newRoom.pay_by_hour_flg"></nz-switch>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="email">计时价格</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="number" [(ngModel)]="newRoom.price_of_timing">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="email">负责人</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input [(ngModel)]="newRoom.owner">
          </nz-form-control>
        </nz-form-item>
        <div style="text-align:center">
          <button nz-button nzType="primary" (click)="addRoom()"> 添加</button>
        </div>
      </div>
    </div>
    <div *ngIf="ViewState.Edit==state">
      <ng-container *ngIf="selectedRoom">
        <div class="forms">
          <nz-form-item class="inline-block">
            <nz-form-label [nzSpan]="6" nzFor="email">名称/房号</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input [(ngModel)]="selectedRoom.room_name">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">房间类型</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select style="width: 120px;" [(ngModel)]="selectedRoom.room_type" nzAllowClear nzPlaceHolder="房间类型">
                <nz-option [nzValue]="roomOption.room_type" [nzLabel]="roomOption.room_type_label" *ngFor="let roomOption of roomTypeOptions"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">房间状态</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select style="width: 120px;" [(ngModel)]="selectedRoom.status" nzAllowClear nzPlaceHolder="房间状态">
                <nz-option [nzValue]="statusOption.status" [nzLabel]="statusOption.status_label" *ngFor="let statusOption of roomStatusOptions"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">床位数量</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input type="number" [(ngModel)]="selectedRoom.bed_num">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">包厢费用</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input type="number" [(ngModel)]="selectedRoom.box_fee">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">所在楼层</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input type="number" [(ngModel)]="selectedRoom.floor_num">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">冲抵消费</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-switch [(ngModel)]="selectedRoom.offset_flg"></nz-switch>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">计时收费</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-switch [(ngModel)]="selectedRoom.pay_by_hour_flg"></nz-switch>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">计时价格</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input type="number" [(ngModel)]="selectedRoom.price_of_timing">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">负责人</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input [(ngModel)]="selectedRoom.owner">
            </nz-form-control>
          </nz-form-item>
          <div style="text-align:center">
            <button nz-button nzType="default" (click)="getRooms();state=ViewState.List">返回</button>
            <button nz-button nzType="danger" (click)="delRoom()"> 删除</button>
            <button nz-button nzType="primary" (click)="editRoom()"> 更新</button>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>
